@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat+Alternates:wght@300;500;700&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Montserrat Alternates', sans-serif;;
}
.avatar{
  height: auto;
  width: 270px;
}
